In [ ]:
"""
Day 16 Challenge

Answer following questions using our database:
    (1) How many expeditions went to the peak of Everest?
    (2) How many people went to the peak of Everest? (One person could have gone more than once.)

Revision History
    Tonnicca Gelacio, 2022-04-26 : Created
    Tonnicca Gelacio, 2022-04-27 : Code Updated
"""

In [3]:
import sqlite3
import pandas as pd

def main():

    # establish connection to db
    conn = sqlite3.connect("db/himalayas.db")

    ##### Question 1 #####

    # set-up query
    queryQ1 = "SELECT E.*, P.pkname, P.location FROM exped as E INNER JOIN peaks as P on E.peakid = P.peakid WHERE E.peakid = 'EVER';"

    # execute query
    resultQ1 = pd.read_sql(queryQ1, conn)

    # print result
    print(f'How many expeditions went to the peak of Everest? {len(resultQ1)}')

    ##### Question 2 #####

    # set-up query
    queryQ2 = "SELECT P.peakid, P.pkname, M.fname, M.lname, M.status FROM peaks as P INNER JOIN members as M on P.peakid = M.peakid where P.peakid = 'EVER'"

    # execute query
    resultQ2 = pd.read_sql(queryQ2, conn)

    # print result
    print(f'How many people went to the peak of Everest? {len(resultQ2)}')

if __name__ == "__main__":
    main()

How many expeditions went to the peak of Everest? 2161
How many people went to the peak of Everest? 21900

In [ ]:
"""
OUTPUT
How many expeditions went to the peak of Everest? 2161
How many people went to the peak of Everest? 21900
"""