In [ ]:
"""
Day 15 Challenge

Use our database to answer the following questions:
    (1) How many peaks are higher than 8000 metres? Use the len() function to count the number of 
        rows of the DataFrame that were returned by the pd.read_sql() function.
    (2) How many women (sex = 'F') were part of the expeditions?

Revision History
    Tonnicca Gelacio, 2022-04-26 : Created
    Tonnicca Gelacio, 2022-04-26 : Code Updated
"""

In [1]:
import sqlite3
import pandas as pd

def main():

    # establish connection to db
    conn = sqlite3.connect("db/himalayas.db")

    ##### Question 1 #####

    # set-up query
    queryQ1 = "SELECT * FROM peaks WHERE heightm > 8000;"

    # execute query
    resultQ1 = pd.read_sql(queryQ1, conn)

    # print result
    print(f'How many peaks are higher than 8000 metres? {len(resultQ1)}')

    ##### Question 2 #####

    # set-up query
    queryQ2 = "SELECT * FROM members WHERE sex = 'F';"

    # execute query
    resultQ2 = pd.read_sql(queryQ2, conn)

    # print result
    print(f'How many women were part of the expeditions? {len(resultQ2)}')

if __name__ == "__main__":
    main()

How many peaks are higher than 8000 metres? 16
How many women were part of the expeditions? 7254

In [ ]:
"""
OUTPUT
How many peaks are higher than 8000 metres? 16
How many women were part of the expeditions? 7254
"""