In [ ]:
"""
Day 10 Challenge

Which neighborhood has the highest average property price and the highest size_in_sqft?

Revision History
    Tonnicca Gelacio, 2022-04-20 : Created
    Tonnicca Gelacio, 2022-04-20 : Code Updated
    Tonnicca Gelacio, 2022-05-03 : Edited comments and added output
"""

In [1]:
import pandas as pd

# load dataframe
df = pd.read_csv('db/dubai_properties_data.csv')

In [2]:
# Q1 - Highest average property price
df.groupby(['neighborhood'])[['price']].mean().sort_values(['price'], ascending=False).head(3)

                        price
neighborhood
Palm Jumeirah    4.379435e+06
Jumeirah         4.212667e+06
Culture Village  3.677445e+06

In [3]:
# Q2 - Highest size in sq ft
df.groupby(['neighborhood'])[['size_in_sqft']].mean().sort_values(['size_in_sqft'], ascending=False).head(3)

                     size_in_sqft
neighborhood
Dubai Festival City      2778.400
World Trade Center       2610.125
Al Barari                2594.900

In [ ]:
"""
OUTPUT
Highest average property price: Palm Jumeirah	(4.379435e+06)
Highest size in sq ft: Dubai Festival City (2778.400000)
"""