In [ ]:
"""
Day 8 Challenge

After playing around with the functions above, you can help Dot by 
answering following questions about Paris landmarks:
  (1) What is the most expensive landmark in Paris?
  (2) What is the average wait time for all landmarks?

Revision History
  Tonnicca Gelacio, 2022-04-18 : Created
  Tonnicca Gelacio, 2022-04-18 : Code Updated
  Tonnicca Gelacio, 2022-05-02 : Edited comments
"""

In [2]:
import pandas as pd

# set-up dataframe
df = pd.read_csv('db/paris_landmarks.csv')

# Q1 - sort values by price (descending)
df.sort_values(by="price", ascending=False).head()

    Unnamed: 0         landmark  queue_time  price
1            1     Eiffel Tower          40     30
6            6           Louvre          20     25
0            0  Arc de Triomphe          25     15
7            7    Musee d’Orsay          10     15
11          11     Grand Palais          10     15

In [3]:
# Q2 - get average queue time
queue = df.queue_time

queueSeries = pd.Series(queue)
aveQueue = queueSeries.mean()

print(f'Average queue time: {aveQueue}')

Average queue time: 9.705882352941176

In [ ]:
"""
OUTPUT 
Most expensive landmark in Paris: Eiffel Tower (price = 30)
Average queue time: 9.705882352941176
"""